# Compiled source #
###################
*.dcu
*.obj
*.exe
*.bpl
*.bpi
*.dcp
*.rsm
*.stat
*.map
*.o
*.ppu
*.compiled
*.dcr
*.rsj

# Generated source #
###################
*.hpp

# Backup files    #
###################
*.~*
*.bak

# IDE Files	  #
###################
*.dproj.local
*.groupproj.local
*.identcache
*.dsk
*.tvsconfig
*.otares
*.drc
*.rc
*.res
*.local

# Output Folders  #
###################
/Win32
/Win64
/OSX32
/__history
*.bak
*.Patch
*.#00
*.pch
FPC\FPC_Units\i386-win32-win32\WrapDelphi.rsj

